<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsageTracker">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireWelcomeActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".GoalSelectionActivity"
            android:exported="false"
            android:parentActivityName=".QuestionnaireWelcomeActivity" />
        <activity
            android:name=".ActivitySetupActivity"
            android:exported="false"
            android:parentActivityName=".GoalSelectionActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGoalActivity"
            android:exported="false" />
        <activity
            android:name=".LogUsageActivity"
            android:exported="false" />
        <activity
            android:name=".CheckInActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ViewLogsActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".WeekStatsActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
    </application>

</manifest>